

p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
}

.video-title {
  font-weight: bold;
  font-size: 18px; 
  width: 280px;
  line-height: 24px;
  margin-bottom: 2px;

}

.views-date {
  font-size: 13px;
  color: #606060;
  margin-bottom: 16px;

}


.video-author {
  color: #606060;
  font-size: 14px;
  margin-bottom: 16px;
}

.video-desc {
  color: #606060;
  width: 270px;
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 100px;
}

.shop {
  background-color: #e34140;
  color: white;
  font-family: Arial;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  line-height: 22px;



}

.shop-now {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.15s,
    cursor 0.15;
}

.shop-now:hover {
  text-decoration: underline;
  cursor: pointer;
}