
.side-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  margin-right: 15px;
  margin-left: 4px;
  position: fixed;
  top: 50px;
  left: 0px;
}

@media (max-width: 550px){

  .side-contener{
    display: none;
  }

}


.home-grid,
.shorts-grid,
.sub-grid,
.you-grid {
  display: grid;
  height: 55px;
  width: 50px;
  justify-items: center;
  border-radius: 8px;
  margin-bottom: 1px;
  transform: background-color 0.2s;
  cursor: pointer;
}

.home-grid:hover,
.shorts-grid:hover,
.sub-grid:hover,
.you-grid:hover {
  background-color: #242424;
}

.home-logo,
.shorts-logo,
.sub-logo {
  padding-top: 13px;
  height: 20px;
  padding-bottom: 3px;
  margin: 0;
}

.you-logo {
  padding-left: 4px;
  padding-top: 13px;
  display: block;
}

.home-p,
.shorts-p,
.sub-p,
.you-p {
  padding-bottom: 10px;
  color: white;
  font-size: 8px;

}