p {
  margin-bottom: 0px;
  margin-top: 0px;
}
body{
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 65px;
  padding-left: 63px;
  padding-right: 15px;
  padding-bottom:1000px ;
}

@media (max-width: 400px){

  body{
    padding-left: 20px;
  }
}


@media  (min-width:400px) and (max-width: 500px){

  body{
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width:500px) and (max-width: 550px){

  body{
    padding-left: 20px;
  }
}




html {
  background-color: #121212;
}

.main-contener {
  display: flex;


}