


.top-contener {
  background-color: #121212;
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  margin-left: 7px;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 100;

} 

.top-contener-start{
  display: flex;
  align-items: center;
  position: relative;
}
.top-contener-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.lines {
  height: 20px;
  width: 20px;
  padding-left: 8px;
  padding-top: 3px;
  cursor: pointer;
}

.youtube-logo-pic {
  width: 98px;
  cursor: pointer;
  padding-right: 2px;
}

.sa-p{
  background-color: #121212;
  color: #aaaaaa;
  font-size: 8px;
  position: absolute;
  right: 0px;
  top: 18px;
}

.input-search-box{
  position: relative;
  display: flex;
  flex: 0.75;
  max-width: 520px;
  height: 32px;
  color: white;
  border: solid 1px #303030;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/*if any thing insde the input-search-box 
is focused the input-search-box will be focus
too becuse we used the foucs-within*/
/* it becom like one part*/
.input-search-box:focus-within{
  flex: 0.91;
}

.input-search {
  background-color: #121212;
  flex: 1;
  max-width: 520px;
  height: 32px;
  color: white;
  border:none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 12px;  
}


.input-search:focus{
  margin-right: 1px; 
  padding-left: 38px;
 
}


/* when the input-search is focus the search-logo-in will 
applie the flowing changes becuse we use the "+"  */
/* it is like when the input-search is focus what
 do you wnat to do about the search-logo-in?*/
.input-search:focus +.search-logo-in{
  display: inline;
  top: 6px;
  left: 10px;
}

.search-logo-in{
  display: none;
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  
}



.search-logo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242323;
  height: 32px;
  width: 55px;
  border: solid 1px #303030;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}



.mic-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242323;
  height: 32px;
  width: 32px;
  margin-left: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transform: background-color 0.2s;

}

.mic-icon-button:hover{
  background-color: #3b3b3b;
}

.search-logo,
.mic-icon {
  width: 20px;
  height: 20px;
}


.lines-box,
.notifications-icon-box,
.camera-icon-box {
  align-content: center;
  height: 35px;
  width: 35px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 30px;
  transform: background-color 0.2s;
  position:relative;
  cursor: pointer;

}

.lines-box:hover,
.notifications-icon-box:hover,
.camera-icon-box:hover {
  background-color: #242424;
}

.top-contener-end {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
  width: 154px;
  flex-shrink: 0;
}

.camera-icon,
.notifications-icon {
  width: 35px;
}

.notifications-p{
  background-color: rgb(190, 1, 1);
  display: flex;
  justify-content: center;
  margin: 0;
  padding-right: 1px;
  color: white;
  position: absolute;
  right: 3px;
  top: 5px;
  flex: 1;
  min-width: 12px;
  min-height: 11px;
  font-size: 11px;
  border-radius: 25px;
  
}

.arya-pic {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-right: 15px;
  margin-left: 15px;
}
